/* Add here all your css styles (customizations) */

.m-t-94 {
    margin-top: 94px;
}
.vertical-divider{
    position:absolute;
    left: 45%;
    top: 20%;
    bottom: 20%;
    border-left: 3px solid #d7d7d7;
}
.btn-primary {
    background: #eb4d34;
    color: #fff;
    border-color: #db4d67;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    color: #fff;
    background-color: #c7422d;
    border-color: #db4d67;
}
.sign-in-wrap {
    display: none;
    position: absolute;
    right: -120px;
    top: 95px;
    padding: 10px;
    background: #f27549;
}
.sign-in-wrap  #sign_in_form {
    position: relative;
    min-width: 500px;
}
#sign_in_form p {
    font-weight: 500;
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: 0;
}
#sign_in_form p a {
    color: #eb4d34;
}
.text-alert {
    color: #a94442;
}

.home .profile-body {
    background: #f27549;
}
.color-main {
    color: #f27549 !important;
    letter-spacing: 1px;
}
.decoration {
    text-decoration: underline;
}

/* admin */
.new-category-form .input-wrap, .new-location-form .input-wrap {
    position: relative;
}
#delete_cat_btn {
    position: absolute;
    top: 0;
    right: 15px;
    display: none;
}
.input-wrap:hover #delete_cat_btn{
    display: block;
}
.color-white {
    color: white;
}
.margin-top-40 { margin-top: 40px; }
.circle { border-radius: 50%; }