/* Add here all your css styles (customizations) */
.bg-color-main {
    background-color: #f27549;
}
.m-t-94 {
    margin-top: 94px;
}
.vertical-divider{
    position:absolute;
    left: 45%;
    top: 0;
    bottom: 20%;
    border-left: 2px solid #d7d7d7;
}
.btn-primary {
    background: #eb4d34;
    color: #fff;
    border-color: #db4d67;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    color: #fff;
    background-color: #c7422d;
    border-color: #db4d67;
}
.sign-in-wrap {
    display: none;
    position: absolute;
    right: -120px;
    top: 95px;
    padding: 10px;
    background: #f27549;
}
.sign-in-wrap  #sign_in_form {
    position: relative;
    min-width: 500px;
}
#sign_in_form p {
    font-weight: 500;
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: 0;
}
#sign_in_form p a {
    color: #eb4d34;
}
.text-alert {
    color: #a94442;
}

.home-container .profile-body {
    background: #f27549;
}
.color-main {
    color: #f27549 !important;
    letter-spacing: 1px;
}
.decoration {
    text-decoration: underline;
}

/* admin */
.new-category-form .input-wrap, .new-location-form .input-wrap {
    position: relative;
}
#delete_cat_btn {
    position: absolute;
    top: 0;
    right: 15px;
    display: none;
}
.input-wrap:hover #delete_cat_btn{
    display: block;
}
.color-white {
    color: white;
}
.margin-top-40 { margin-top: 40px; }
.circle { border-radius: 50%; }
.account-container {
    width: 640px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.how-works-container .content-boxes-v6 .image-block {
    height: 150px;
    line-height: 150px;
}
.how-works-container .content-boxes-v6 img {
    width: 140px;
}
.payment-container .row{
    position: relative;
}
.reviews-container .content-boxes-v6 .image-block img {
    width: 200px;
}

.home-container, .how-works-container, .payment-container, .why-trade-container{
    /*position: relative;*/
}
.font-weight-400 {
    font-weight: 400;
}
/*.how-works-container:after, .payment-container:after {*/
    /*margin-left: -150px;*/
    /*left: 50%;*/
    /*width: 300px;*/
    /*height: 2px;*/
    /*content: " ";*/
    /*bottom: 0;*/
    /*background: #555;*/
    /*position: absolute;*/
/*}*/
.payment-container .image-block img {
    width: 120px;
}
.home-section {
    background: url('../../img/home-bg.jpg') no-repeat top center;
    min-height: 800px;
    background-size: 100%;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.content-boxes-v6.padding-top-15 {
    padding-top: 15px;
}
.about-container .image-block {
    height: 130px;
}